<!-- views/dashboard/ProductIdInput.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h2>Insert Product ID</h2>
    <form action="/dashboard/productSales" method="POST">
      <label for="productID">Product ID:</label>
      <input type="number" id="productID" name="productID" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
