<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
  </head>
  <body>
    <header>
      <h1>Welcome to my shop website</h1>
    </header>
    <main><%- body %></main>
    <footer>
      <p>Copyright © 2022</p>
    </footer>
  </body>
</html>
